
eviatar.py
eviatar_class_teset.py
mne_data.lnk
.idea/brainProj.iml
.idea/brainProj.iml
.idea/misc.xml
.idea/other.xml
__pycache__/bids_extract.cpython-39.pyc

readme.txt
*.pyc
*.pyc
*.pyc
/film_lists/02_film_matrixs.npz
/film_lists/03_film_matrixs.npz
/film_lists/05_film_matrixs.npz
/film_lists/06_film_matrixs.npz
/film_lists/07_film_matrixs.npz
/film_lists/10_film_matrixs.npz
/film_lists/12_film_matrixs.npz
/film_lists/13_film_matrixs.npz
/film_lists/14_film_matrixs.npz
/film_lists/16_film_matrixs.npz
/film_lists/17_film_matrixs.npz
/film_lists/18_film_matrixs.npz
/film_lists/19_film_matrixs.npz
/film_lists/20_film_matrixs.npz
/film_lists/22_film_matrixs.npz
/film_lists/24_film_matrixs.npz
/film_lists/25_film_matrixs.npz
/film_lists/26_film_matrixs.npz
/film_lists/27_film_matrixs.npz
/film_lists/28_film_matrixs.npz
/film_lists/30_film_matrixs.npz
/film_lists/31_film_matrixs.npz
/film_lists/32_film_matrixs.npz
/film_data/
/rest_data/
*.pyc
*.pyc
*.iml
*.xml
*.pyc
testing stuff.py
.idea/brainProj.iml
*.xml
*.iml
*.iml
*.xml
main.py
*.pyc
*.xml
*.xml
